
<body>


        <div class="front-image">
        <div id="slider">
          <img src="http://blogs.kcrw.com/ipp/wp-content/uploads/2013/10/Burning-Man-1.jpg"/>
        </div>
        </div>

        <hr/>





      <div class="row">
        <div class="large-4 columns">
        <div class="front-three">
          <img src="https://dancemunkey.files.wordpress.com/2012/05/sm3.jpg"/>
          </div>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>

        <div class="large-4 columns">
        <div class="front-three">

          <img src="http://41.media.tumblr.com/tumblr_m9wjdfQHj41repfkwo1_1280.jpg"/>
          </div>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>

        <div class="large-4 columns">
        <div class="front-three">
        <img src="http://blog.parkinn.se/wp-content/uploads/sites/3/2015/01/concert.jpg"/>
          </div>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>

        </div>


    <div class="row">
        <div class="large-12 columns">

          <div class="panel">
            <h4>Get in touch!</h4>

            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>

        </div>
      </div>
</body>



      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

