<body>

<h1>
SELL YOUR TICKETS!
</h1>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright Red Game Studios.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Credits</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
