<div class = "logo-tag" style ="position:relative; margin:auto;">
    <img src="http://fc06.deviantart.net/fs71/i/2014/014/a/6/league_of_legends___logo_rework_by_prodigioushd-d68nw1c.png" alt="League Logo" height="300" width="300">
</div>

<style>
  body {
      background-image: url('http://static1.gamespot.com/uploads/original/280/2802776/2778520-9497800156-teamb.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
  }
</style>

<%="WELCOME TO SAVE N RAVE"%>
<%="Search for Event"%>
<%="Sell A Ticket"%>
