/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 *= require_foundation_and_overrides
 */

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body > nav{
  background-color: rgba(0,0,0,0.3) !important;
}

.top-bar-section ul li a{

  background-color: rgba(0,0,0,0.4) !important;
}

.top-bar-section ul li {
  color:black;
  background-color: rgba(333,333,333,0.4) !important;
}

div.logo-tag {
  top: -60px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


div.login {
  top: 100px;
  width: 320px;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #009900;
    background: #00CC66;
}

.btn-primary.raised:hover {
    background: #00FC00;
    box-shadow: 0 3px 0 0 #00FC00;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #00FF00;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
