<!DOCTYPE html>
<html>
<head>
  <title>SavenRave </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <nav class="top-bar" data-topbar>
        <ul class="title-area">

          <li class="name">
            <h1>
              <a href="#">
                Save N Rave
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Tickets</a>
              <ul class="dropdown">
                <li><label>Selling</label></li>
                <li><a href="#" data-reveal-id="myModal">Sell A Ticket</a></li>
                <li><a href="#">My Tickets</a></li>
                <li class="divider"></li>
                <li><label>Buying</label></li>
                <li><a href="#">Current Bids</a></li>
                <li><a href="#">Purchase History</a></li>
                <li><a href="#">Wishlist</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Events</a>
              <ul class="dropdown">
                <li><a href="#">Near Me</a></li>
                <li><a href="#">Festivals</a></li>
                <li><a href="#">Electro House</a></li>
                <li><a href="#">Deep House</a></li>
                <li><a href="#">Tropical House</a></li>
                <li><a href="#">Trance</a></li>
                <li><a href="#">Future House</a></li>
                <li><a href="#">Chill</a></li>
                <li><a href="#">Dubstep</a></li>
                <li><a href="#">Others</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">My Profile</a>
              <ul class="dropdown">
                <li><a href="#">Summary</a></li>
                <li><a href="#">Edit Profile</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>

  <div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Sell Your Ticket</h2>

                <form data-abide method="post" action="index.php">

                  <fieldset>

                     <div class="event-field">
                        <label for="event">Name of Event <small>required</small></label>
                          <input type="event" name="event" id="event">
                        <small class="error">Name is required.</small>
                      </div>

                      <div class="loc-field">
                        <label for="location">Location <small>required</small></label>
                          <input type="location" name="location" id="location" required>
                        <small class="error">A location is required.</small>
                      </div>

                      <div class="time-field">
                        <label for="time">Event Time</label>
                          <input type="time" name="time" id="time">
                      </div>

                      <div class="date-field">
                        <label for="date">Event Date</label>
                          <input type="date" name="date" id="date">
                      </div>

                      <button type="submit" value="send">Submit</button>

                  </fieldset>
                </form>

          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <script src="assets/foundation.js"></script>
  <script src="assets/foundation/foundation.reveal.js"></script>


<%= yield %>

</body>
</html>



